*{
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
}


#main-mid-container{
    width: 96%;
    margin: auto;
    margin-top: 2%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#render-data{
    width: 70%;
}
#search-select-data{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(237, 237, 237);
}

#select-data{
    width: 40%;
}
#mainsearchdiv{
    width: 55%;
}

#slct-bank-name{
    font-size: 17px;
}
#bank-accounts-slct{
    width: 65%;
    margin-top: 10px;
    height: 31px;
}
#mainsearchdiv{
    width: 70%;
}
#mainsearchdiv p{
    font-size: 17px;
}
#searchBox{
    width:80%;
    margin-top: 9px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid rgb(196, 195, 195);
    outline-color: #b9d8d5; border: 1px solid rgb(196, 195, 195);
    outline-color: #b9d8d5;
}
#mainsearchbutton{
    padding: 7px 15px;
    background-color: rgb(242, 105, 36);
    border: none;
    color: white;
    border-radius: 2px;
    /* font-size: 16px; */
    font-weight: bold;
}
#mainsearchbutton:hover{
    cursor: pointer;
    background-color: rgb(250, 132, 73);
}
@media(min-width: 20px) and (max-width: 950px){
    #searchBox{
        width: 68%;
    }
    #task-completed{
        padding-left: 10px;
    }
    
}
@media(min-width: 20px) and (max-width: 1070px){
    #mainsearchbutton{
        padding: 7px 10px;
    }
}

#render-all-tasks-div{
    width: 100%;
    margin-top: 10px;
}

#task-title{
    background-color: rgb(224, 224, 224);
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 99%;
    margin: auto;
}

#all-task-render-main{
    max-height: 400px;
    overflow: scroll;
}
#tasks-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
#tasks-title p{
    margin-top:8px ;
    background-color: grey;
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#bank-name-title{
    width: 23%;
}
#task-name-title{
   width: 23%; 
}
#taks-prize-title{
    width: 15%;
}
#bank-details-update{
    width: 17%;
}

#task-completed{
    width: 17%;
}
@media(min-width: 20px) and (max-width: 1330px){
    #tasks-title p{
        font-size: 15px;
    }
   
}

.main-tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    margin-top:8px ;
}
.main-tasks p ,.main-tasks button{

    font-size: 16px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.main-tasks button{
    height: 22px;
    font-size: 14px;
    padding: 10px;
}

.bank-name-task{
    width: 23%;
}

.task-name-task{
    width: 23%;
}

.task-prize-task{
    width: 15%;
}
.up-btn-div{
    width: 17%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-btn-div button{
    text-align: center;
    border: none;
    color:white;
    border-radius: 2px;
}
.up-btn-div button:hover{
    cursor: pointer;
}
.task-update-task{
    background-color: rgb(252, 111, 30);
}
.task-update-task:hover{
    background-color: rgb(254, 139, 72);
}
/* .task-comp-task{
    background-color: #23a455;
} */
#budget-form{
    width: 27%;
    background-color: rgb(237, 236, 236);
    padding: 5px;
}
#create-taskt-title{
    background-color: rgb(200, 200, 200);
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#task-creat-form{
    background-color: rgb(177, 175, 175);
    margin-top: 10px;
    padding: 10px;
}

#crt-task-bank-acct{
    width: 71%;
    height: 30px;
    margin-top: 5px;
    font-size: 15px;
    padding-left: 5px;
}
#crt-task-name{
    margin-top: 10px;
}
#crt-task-nameip{
    margin-top: 5px;
    width: 70%;
    height: 30px;
    font-size: 15px;
    border: 1px solid rgb(196, 195, 195);
    outline-color: #b9d8d5; 
    padding-left: 5px;
}
#crt-task-prize{
    margin-top: 10px;
}
#crt-task-prizeip{
    margin-top: 5px;
    width: 70%;
    height: 30px;
    font-size: 15px;
    border: 1px solid rgb(196, 195, 195);
    outline-color: #b9d8d5; 
    padding-left: 5px;
    display: block;
}

#crt-task-sbbtn{
    width: 48%;
    margin-top: 10px;
    /* padding: 5px 10%; */
    font-size: 15px;
    background-color: #23a455;
    color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}
#crt-task-cabtn{
    width: 48%;
    margin-top: 10px;
    /* padding: 5px 10%; */
    font-size: 15px;
    background-color: #f74a2c;
    color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}
#create-task-img{
    margin-top: 10px;
    width:100%;
    margin: auto;
}


@media(min-width: 20px) and (max-width: 850px){
    #main-mid-container{
        flex-direction: column;
    }
    #render-data{
        width: 100%;
    }
    #budget-form{
        width: 50%;
        margin: auto;
        margin-top: 15px;
    }
}
@media(min-width: 20px) and (max-width: 450px){
    #search-select-data{
        flex-direction: column;
    }
    #bank-accounts-slct{
        width: 70%;
    }
    #select-data{
        width: 95%;
    }
    #mainsearchdiv{
        margin-top: 10px;
        width: 95%;
    }
    .tasks-title p{
        font-size: 13px;
    }
    .main-tasks p ,.main-tasks button{
        font-size:10px;
    }
    .main-tasks button{
        padding: 5px;
    }
}
@media(min-width: 400px) and (max-width: 600px){
    #budget-form{
        width: 70%;
        font-size: 15px;
    }
    #crt-task-name,#crt-task-nameip,#crt-task-bank-acct,#crt-task-prizeip{
        font-size: 13px;
    }
}
@media(min-width: 20px) and (max-width: 399px){
    #budget-form{
        width: 90%;
        font-size: 13px;
    }
    #crt-task-name,#crt-task-nameip,#crt-task-bank-acct,#crt-task-prizeip{
        font-size: 13px;
    }
}

#changecomptask{
    margin-left: 2%;
}
#comptaskatag{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background-color: white;
}
#comptaskatag:hover{
    cursor: pointer;

}
#clickhere{
    color: blue;
}

/* footerstart ================================================================*/


footer {
    background-color: #23a455;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 30px;
}

.footer-div>img {
    width: 10%;
    margin-left: 45%;
}

.footer-div>div {
    display: inline;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-div>div>h2 {
    font-size: 30px;
    margin-bottom: 1%;
}

.footer-div>div>p {
    color: white;
    text-align: center;
    margin-bottom: 1%;
    font-size: 20px;
}

.footer-div>div>span {
    color: white;
    margin-left: 50%;

}


.footer-div>.flexlist {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    text-align: left;
}




footer>.footer-div>div>img {
    width: 40%;
}

footer>.footer-div>.list>ul {
    list-style: none;
    line-height: 2;
    font-size: 14px;
    text-align: left;
}

.footer-para {
    font-size: 14px;
    text-align: start;
}

.list>ul>li {
    list-style: none;
    line-height: 1.5;
}


.list>h6 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: -40px;
}

footer>p {
    font-size: 12px;
    text-align: left;
    margin-left: 8%;
    color: #ffffff;
}

.googleplay {
    width: 6%;
    margin-left: 90%;
}

.list>ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: start;
    margin-top: -20px;
    margin-left: -40px;
}

/* footerEnd ===================================================================*/

