body {
    margin: 0;
    padding: 0%;
}

a {
    text-decoration: none;
    color: black;
}


/* **********NAVBAR CSS************ */
#navbar {
    display: flex;
    background-color:  rgb(35, 164, 85);;
    /* border: 1px solid red; */
    align-content: center;
    justify-content: space-around;
}

#brand_name {
    font-size: 30px;
    font-weight: 800;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#gif{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    align-items: center;
}

ul a:hover {
    transition: all ease-in-out 0.3s;
    color: white;
}
li{
    list-style-type: none;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

#navsub2 {
    width: 35%;
}

#navsub1 {
    margin-right: 40px;
    width: 20%;
}

#navsub1 button {
    padding: 5px;
    font-size: 16px;
    border: 0ch;
    border-radius: 2px;
}
#toggle1 {
    display: none;
    position: fixed;
    padding: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#toggle1>a {
    display:block;
    font-size: 15px;
    padding: 4px;
}

#toggle1>a:hover {
    
    color: rgb(249, 240, 240);
    background-color:  rgb(35, 164, 85);;
}
#toggle2 {
    display: none;
    position: fixed;
    background-color: white;
    padding: 4px;
}

#toggle2>div {
    font-size: 14px;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#toggle2>div:hover {
    background-color:  rgb(35, 164, 85);;
    color: white;

}

/* **********NAVBAR CSS END************ */

/* ***********HOME CSS**************** */
*{
    border: 1px solid blue;
}
a{
    text-decoration: none;
}
.text-align_center{
    text-align: center;
}
.align_item_center{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#Envelopes{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    
}
.head{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(66, 60, 60);
}
.subhead{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(93, 87, 87);
}
#Envelopes>div:nth-child(1){
    width: 30%;
}
#Envelopes>div:nth-child(2){
    width: 70%;
    display: flex;
   justify-content: space-evenly;
}
#envelopes_img{
    width: 400px;
    height:350px;
}
#envelopes_img1{
    width: 50px;
    height: 30px;
}
#allrenders{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    border-radius: 8px;
    border: 0.5px solid green;
    background-color: snow;
}
#allrenders:hover{
    border: 1.5px solid green;
}
#allaccounts{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    display: flex;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
}
#allaccounts>a{
    background-color:  rgb(35, 164, 85);
    font-size: 18px;
    border-radius: 8px;
    padding: 6px;
    color: white;
}
#budgetgoal{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.totalbalance{
    font-size: 14px;
    color: red;
}
.green{
    color:  rgb(35, 164, 85);;
margin-left: 10px;}

.banks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    /* background-color: rgb(244, 247, 248); */

}
.banks>a{
    padding: 5px;
    color: rgb(62, 49, 49);
}
.tag{
margin-top: -10px;
}
.fa-square-plus{
    color: rgb(86, 156, 231);
    font-size: 20px;
    margin-right: 5px;
}
.container>p{
    font-size: 20px;
    margin-top:-5px;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

.container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(218, 11, 11, 0.16) 0px 1px 4px;
  width:40%;
}
.container p {
  text-align: center;
  margin: 20px 0;
  color: #565656;
}

@media all and (max-width: 780px) {
  .container {
    width: auto;
  }
}

@media all and (max-width: 400px) {
  .container {
    padding: 0px 20px;
  }
}