/* ----------------------------------------------NavBar Media Query--------------------------------------------- */
@media only screen and (max-width: 670px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    #nav-menu>div {
        display: none;
    }

    .openbtn {
        display: block;
    }

    .hidden {
        display: block;
        right: 0;
    }

}


@media only screen and (max-width: 900px) {

    .hidden {
        display: none;
    }

    #nav-menu>div {
        right: 0;
        left: initial;
    }

    #nav-menu>div {
        margin-left: auto;
        margin-right: auto;

    }

}

/* ---------------------------NAVBAR MEDIA QUERY ENDED--------------------------------------------- */

/* ---------------------------BUTTON MEDIA QUERY ENDED--------------------------------------------- */

@media all {
    .button {
        display: inline-block;
        line-height: 1;
        background-color: #818a91;
        font-size: 15px;
        padding: 12px 24px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        fill: #fff;
        text-align: center;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .animation-grow {
        transition-duration: .3s;
        transition-property: transform;
    }

    #button-tag {
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
    }

    #button-tag:visited {
        color: #5fd657;
    }

    #button-tag:hover {
        color: #1f88e4;
    }
}

/*---------------------------------------------For Tablet View------------------------------------------------------------ */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .main_heading {
        margin-top: 10%;

    }

    .small_para {
        font-size: 20px;
    }

    .icon-list-items .icon-list-item .icon-list-text {
        font-size: 15px;
    }

    .inline-items .inline-item .icon-span {
        -ms-flex-item-align: center;
        align-self: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .sec3 .flex {
        display: inline;

    }

    .flex-div-text {
        margin-bottom: 2%;
        text-align: center;
        font-size: 35px;
    }

    .flex-para {
        text-align: center;
        /* text-indent: 50px; */
        margin-bottom: 3%;
        line-height: 1;
        word-spacing: 1px;

    }

    .flex-button {
        text-align: center;
        margin-left: 40%;
    }
}

/* ----------------------------------------------------------FOR MOBILE VIEW--------------------------------------------------------------------------------- */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .main_heading {
        margin-top: 20%;
        font-size: 25px;
    }

    .small_para {
        font-size: 15px;
        margin-top: -2%;
    }

    .sec3 {
        width: 100%;
        padding: 20px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .flex-div-text {
        margin-bottom: 3%;
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        vertical-align: baseline;
        letter-spacing: 0px;
        word-spacing: 0px;
        word-break: normal;
        font-weight: 600;
        text-indent: 0px;
        width: 100%;

    }

    .flex-para {
        text-align: center;
        margin-bottom: 3%;
        line-height: 1;
        word-spacing: -1px;
        width: 100%;
        padding: 10px;
    }

    .flex-button {
        text-align: center;
        margin-top: 5%;

    }

    .sec5 {
        display: inline;
    }

    .images-div {
        display: grid;
        justify-content: center;
    }

    .sec5>div>h3 {
        text-align: center;
        margin-bottom: 7%;
    }

    .images-div>div>h4 {
        text-align: center;
    }

    .sec6{
        margin-bottom: 5%;
    }

    .sec7{
        display: inline;
       
        
    }

    .sec7.sec-left{
        justify-content: center;
        text-align: center;
    }

    .sec7>.sec-left>h2{
        text-align: center;
        font-size: 30px;
        
       
    }

    .sec7>.sec-left>p{
        text-align: center;
        font-size: 18px;
        margin-top: 4%;
    }

    .sec7>.sec-left>img{
     text-align: center;
     margin-left: 30%;
    
    }

    

    .sec-right{
        text-align: center;
    }


    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }

    .colorfull{
        background-color: #fff;
    }

    .sec8 > div{
        text-align: center;
    }

    .grid > div {
        text-align: center;
    }

    .grid > div > p{
        text-align: center;
    }
}


/* -----------------------------------------------------FOR PURPLE  BUTTON-------------------------------------------------------------- */
@media all {
    .button {
        width: auto;
    }

    .button.size {
        font-size: 16px;
        padding: 15px 30px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background-color: #8b4dfe;
    }

    .button:hover,
    .button:visited {
        color: #30db1d;
    }

    .animation-grow:hover {
        transform: scale(1.1);
    }
}



@media only screen and (min-width: 768px) {
    #button-tag {
        min-width: 238px;
    }
}

/* ----------------------------ICON PARTS MEDIA QUERY--------------------------- */

/* @media all {
    li {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .icon-list-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: inherit;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .inline-item {
        word-break: break-word;
    }

    .icon-list-item {
        margin-right: 8px;
        margin-left: 8px;
        margin-right: calc(10px/2);
        margin-left: calc(10px/2);
    }
} */



/* @media all {
    .icon-list-item:after {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: auto;
    }



    .icon-list-item:after {
        width: auto;
        left: auto;
        right: auto;
        position: relative;
        height: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-left-width: 1px;
        border-style: solid;
        right: -8px;
    }
} */

/* @media all {


    .icon-span {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-box;
        text-align: var(--e-icon-list-icon-align);
    }

    .icon-span+.icon-list-text {
        -ms-flex-item-align: center;
        align-self: center;
        padding-left: 5px;
    }

    .icon-list-item .icon-list-text {
        display: inline-block;
    }
}

@media all {
    i {
        font-style: italic;
    }

    .fab {
        display: inline-block;
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    .icon-span i {
        width: 1.25em;
        font-size: var(--e-icon-list-icon-size);
    }
}

@media all {
    .fa-apple:before {
        content: "\f179";
    }

    .fa-android:before {
        content: "\f17b";
    }
} */